.profile {
  max-width: 100%;
  padding: 40px 0 40px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 459px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
  }
}