.profile__btn_edit {
  background-image: url(../../../../images/vector-edit.png);
  width: 24px;
  height: 24px;
  border: 1px solid #FFF;
  margin-left: 18px;
}
  
@media screen and (max-width: 767px) {
  .profile__btn_edit {
    width: 18px;
    height: 18px;
  }
}
  
@media screen and (max-width: 459px) {
  .profile__btn_edit {
    margin-left: 10px;
  }
}