.popup__name {
  width: 100%;
  padding: 0 0 13px 0;
  margin: 54px 0 0 0;
  border: 0;
  color: #000;
  border-bottom: 1px solid #00000020;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}