.popup-add__input {
  width: 100%;
  padding: 0 0 13px;
  border: 0;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  outline: none;
}
  
.popup-add__input:first-child {
  margin: 0 0 30px;
}
  
.popup-add__input:nth-child(2) {
  margin: 0 0 48px;
}
    
@media screen and (max-width: 767px) {
  .popup-add__input:nth-child(2) {
    margin-bottom: calc(((100vw - 320px) * (3 / 448)) + 45px);
  }
}